.item {
    display: grid;
    background-color: #d58b56;
    padding: 17px;
    grid-template-areas:
        'id title linkTitle'
        'countLike authorName countComment';
    border-radius: 30px;
    box-shadow: #624d3e 2px 2px 3px;
}

.id {
    grid-area: id;
}
.title {
    grid-area: title;
}
.countLike {
    grid-area: countLike;
}
.authorName {
    grid-area: authorName;
}
.countComment {
    grid-area: countComment;
}
.linkTitle {
    grid-area: linkTitle;
}

.newsList {
    display: grid;
    grid-row-gap: 17px;
    width: 85%;
    margin: auto;
}