* {
  box-sizing: border-box;
  margin: 0px;
}


$content-width: 80%;
$base-color: #f8f8f8;
$content-black-theme: #1b1b1b;
$decorative-font: Arial;

html, body {
  background-color: #1b1b1b;
  height: 100%;
  width: 100%;
  font-family: Calibri;
}

.app-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
}

.content {
  display: flex;
  justify-content: center;
  > div {
    @media screen and (max-width: 1000px) {
      width: 95%;
    }
    width: $content-width;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
